@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Work+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@400&display=swap');
/*++++++++++++ html tags +++++++++ */


form{
  display: inline-block;
  text-align: center;
}

/*------------ html tags------------ */

.navbar {
  background-color: rgb(49,49,50);
  display: inline-flex;
  align-content: space-around;
  text-align: center;
  justify-content: space-between;
  width: 100%;
  margin: 0px;
  padding: 0px;
}



#navlogo {
  margin-top: 0.5em;

}

.navbar li {
  list-style-type: none;
  display: inline-block;
  margin: 0px;
  padding: 0px;
}


.navbar li a {
  color: rgb(255, 255, 255);
  text-decoration: none;
  padding: 1em 16px 1.3em;
  margin: 0px;
  font-family: 'noto sans jp', sans-serif;
  font-size: large;
}

.navbar li a:hover {
  background-color: rgba(114, 174, 192, 0.527);
}




body {
  background-color: rgb(31,31,31);
  font-family: 'Noto Sans', sans-serif;
  color: white;
  background-repeat: no-repeat;
  margin: 0px;
  
}

a:link { text-decoration: none; color:white}
 a:visited {text-decoration: none; color: white;}
.intro a:hover { text-decoration: none; color:rgba(114, 174, 192, 0.962); }
 a:focus { text-decoration: none; color:white; }
 a:active { text-decoration: none; color:white; }

/*++++++++++++ homepage css +++++++++ */
.intro{
  background-color: rgb(31,31,31);
  color: white;
  font-size: 14px;
  height:100vh;
  display: grid;
  grid-template-columns: 1fr 3fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  
}


.secintro {
 
  grid-column-start: 2;
  grid-column-end:3;
  grid-row-start: 1;
  grid-row-end: 2;
  margin: 2em 2em;
}

.secintro h3{
  text-align: center;
}

.secintro ul{
  columns: 3;
  /* column-width: 4rem; */
  -webkit-columns: 2;
  -moz-columns: 2;
}

.secproj{
  grid-column-start: 2;
  grid-column-end:3;
  grid-row-start: 2;
  grid-row-end: 3;
  list-style: circle;
}
.secproj li {
  list-style: disc;
  text-align: initial;
  font-size: large;
}

.sec_caro{
  grid-column-start: 2;
  grid-column-end:3;
  grid-row-start: 3;
  grid-row-end: 4;
}

.sec_caro h3{
  text-align: center;
}


.contact{
  list-style-type: none;
  display: inline-block;
 
  background-color: rgb(49,49,50);
  display: inline-flex;
  align-content: space-around;
  text-align: center;
  justify-content: space-between;
  width: 100%;
 
}

/*++++++++++++ FOOTER CSS +++++++++ */
footer {
  background-color: rgb(182, 182, 182);
  background-color: rgba(168, 168, 168, 0.493);
  display: inline-block;
  position: fixed;
  text-align: center;
  width: 100vw;
  line-height: 50px;
  margin: 0px 0px 0px 0px;
  bottom: 0;
}



/* work post starts from here */

.workpost {
  margin: 2px;
  padding: 15px 5px 5px 5px;
  display: flex;
  align-items: center;
  align-self: center;
  align-items: stretch;
  flex-wrap: wrap;
  font-family: 'noto sans jp', sans-serif;

}

.workpost>div {
  width: 100%;
  margin: 10px;
  line-height: 25px;
  font-family: 'noto sans jp', sans-serif;

}

/* LEC CSS */

#calculator {
  display: inline-block;
}

table {
  border: 1px solid black;
  font-family: arial, sans-serif;
  border-collapse: collapse;
  font-size: 1em;

}

td,th {
  border: 1px solid #3b3b3b;
  text-align: center;
  padding: 8px;

  
}

  .table {
    color: rgb(88, 88, 88);
    font-size: 1vw;
    font-family: arial, sans-serif;
    border-collapse: collapse;
    table-layout: inherit;
    border-color: rgb(0, 0, 0);
  }
