/* this is body css */
body {
    background-color: rgb(255, 255, 255);
    color:  rgb(0, 0, 0);
    font-family: -apple-system, system-ui, BlinkMacSystemFont;
}

#element1 {display:inline-block;margin-right:10px;} 
#element2 {display:inline-block;} 

#workmode {   
    position: fixed; 
    top: 95%;
    left: 80%;
    z-index: 999;
     /* transform: translate(-70%, -70%); */
}

div.signinborder{

    padding: 25px 40px 25px 40px;
    position: relative;
width: 20%;
    margin: 0px auto;
    text-align:center;
    margin-top:20em;
   }

   .border
   {
       border-style:solid;
   }

/* this is footer css */
.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: rgba(0, 0, 0, 0);
    color: rgb(0, 0, 0);
    text-align: center;
  
 }

  


.work-mode { 

  background-color: rgb(0, 0, 0);
  color: rgb(0, 177, 44);

}

#workmode,.btn-login
{
padding:5px 20px 5px 20px;
width: auto;
color: #fff;
cursor: pointer;
border:none;
border-radius: 4px;
/* //border-bottom: 4px solid #34ef60; */
background-color: #2ecc71;
margin-bottom: 20px;

}

.footer-black
{
    color: green !important;
}