body{
    background-color: rgb(31,31,31);
    color: white;
}
.cell{
    width: 75px;
    height: 75px;
    border: 2px solid;
    box-shadow: 0 0 0 2px;
    line-height: 75px;
    font-size: 50px;
    cursor: pointer;
}
#gameContainer{
    font-family: cursive;
    text-align: center;
    padding: 20%;
}
#cellContainer{
    display: grid;
    grid-template-columns: repeat(3, auto);
    width: 225px;
    margin: auto;
    /* color: aliceblue; */
} 
button{
    font-size: large;
    font-family: cursive;
}