body{
    font-family:Helvetica, Arial sans-serif;
    
        background-color: rgb(31,31,31);
        color: white;
    }


#gameDiv{
 
    padding: 10%;
    text-align: center;

}

#playerText{
    color: rgb(57, 57, 250);
}

#computerText{
    color: rgb(255, 61, 61);
}


.choiceBtn{
    line-height: 30px;
    width: 150px;
}
button{
    font-size: large;
    font-family: cursive;
}